@use "sass:map";
@import "../../styles/variables";

.commends{
    ul{

        h2,h3,h4,h5,h6{
            text-align: left;
        }

        li{
            margin-left: 32px;
            list-style: disc;
            font-size: 18px;
            text-align: left;
            .example{
                color: map.get($colors,"important");
            }
        }
    }
    
    table{
        tbody{
            tr{
                td:nth-child(2){
                    color: map.get($colors,"link");
                }
            }
        }
        tbody.reverse{
            tr{
                td:nth-child(1){
                    color: map.get($colors,"font");
                }
                td:nth-child(2){
                    color: map.get($colors,"link");
                }
            }
        }
        tbody.description{
            tr{
                td:nth-child(2){
                    color: map.get($colors,"font");
                }
            }
        }
    }

    p {
        font-size: 18px;
    }
}